body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #848D92;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-text {
    color: #fff;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 400;

}

.header__logo a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.logo_img {
    width: 78px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

/* Nav */
.nav {
    font-size: 12px;
    text-transform: uppercase;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #B59971;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #B59971;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #B59971;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #B59971;

    font-size: 14px;
    font-weight: 700;
    color: #B59971;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #B59971;
    color: #fff;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../img/intro_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}



/* Contact-bar */
.contact-bar {
    width: 100%;


    position: absolute;
    bottom: -75px;
    z-index: 1;
}

.contact-bar__inner {

    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    height: 150px;
}

.contact-bar__left {
    width: 50%;
    padding: 20px 55px;
    position: relative;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;

}

.contact-bar__icons {
    padding: 20px;

}

.contact-bar__phone {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.contact-bar__right {
    width: 50%;
    padding: 20px 55px;
    position: relative;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social {
    padding-left: 10px;
}
