body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #848D92;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.theme {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #B0956E;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 21px;

}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-wide {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-text {
    color: #fff;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 400;

}

.header__logo a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.logo_img {
    width: 78px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

/* Nav */
.nav {
    font-size: 12px;
    text-transform: uppercase;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #B59971;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #B59971;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #B59971;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #B59971;
    font-size: 14px;
    font-weight: 700;
    color: #B59971;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #B59971;
    color: #fff;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/intro_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}



/* Contact-bar */
.contact-bar {
    width: 100%;
    position: absolute;
    bottom: -75px;
    z-index: 1;
    justify-content: center;
}

.contact-bar__inner {

    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    height: 150px;
}

.contact-bar__left {
    width: 50%;
    padding: 20px 55px;
    position: relative;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;

}

.contact-bar__icons {
    padding: 20px;

}

.contact-bar__phone {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.contact-bar__right {
    width: 50%;
    padding: 20px 55px;
    position: relative;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social {
    padding-left: 10px;
}

/*History*/
.history {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.history__inner {
    margin-top: 225px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0;
}


.history__tagline {
    width: 50%;
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 700;
    color: #173E62;
    margin-right: 75px;
    line-height: 1em;
}


.history__tagcount-left {
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #B0956E;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1em;
    align-items: center;
}

.history__tagcount-right {
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #B0956E;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1em;
    align-items: center;
}

.undercount {
    font-family: 'Montserrat', sans-serif;
    color: #173E62;
    font-size: 18px;
    align-items: center;
}

.history__outter {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.history__outter-img {

    height: 602px;
    display: flex;
    flex-direction: column;


}

.history__outter-text {

    height: 602px;
    background-color: #F7F2ED;
    display: flex;
    flex-direction: column;
    padding: 50px 100px 0;

}

.history__outter-text p {
    margin-bottom: 15px;
}

.history__outter-text p + p {
    margin-bottom: 45px;
}

.history__outter-text a {
    color: #B0956E;
    text-decoration: underline;
}

.tagline {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 700;
    color: #173E62;
    line-height: 1em;
    margin-bottom: 25px;
}

.services {
    background-color: #194065;
    height: 1000px;
    margin-top: 200px;
}

.services__inner {

}








